<app-calender></app-calender>
<div class="body1">
    <div class="item">
        <div class="cycle safe"></div>
        <div class="phase">work</div>
    </div>
    <div class="item">
        <div class="cycle period"></div>
        <div class="phase">stress</div>
    </div>
    <div class="item">
        <div class="cycle ovulation"></div>
        <div class="phase">read</div>
    </div>
</div>

<div class="progress-container">
    <div class="progress-item">
      <app-progress [progress]="progress1"></app-progress>
      <div class="day">Mon <br>14</div>
    </div>
    <div class="progress-item">
      <app-progress [progress]="progress2"></app-progress>
      <div class="day">Tues <br>15</div>
    </div>
    <div class="progress-item">
      <app-progress [progress]="progress3"></app-progress>
      <div class="day">Wed <br>16</div>
    </div>
    <div class="progress-item">
        <app-progress [progress]="progress4"></app-progress>
        <div class="day">thus <br>16</div>
      </div>
      <div class="progress-item">
        <app-progress [progress]="progress5"></app-progress>
        <div class="day">fri <br>21</div>
      </div>
      <div class="progress-item">
        <app-progress [progress]="progress6"></app-progress>
        <div class="day">sat <br>20</div>
      </div>
      <div class="progress-item">
        <app-progress [progress]="progress7"></app-progress>
        <div class="day">sun<br>15</div>
      </div>
  </div>
  